:root {
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #090824;

  
}
/* 
animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px; */
@tailwind base;
@tailwind components;
@tailwind utilities;